html, body, .container{
	width: 100%;
	min-height: 100%;
}
body{
	background-color: #428BCA;
}
.navbar-static-top{
	background-color: #FFF;
}
.jumbotron{
	width: 102.7%;
	margin-top: -22px;
	margin-left: -1.5%;
}
.brand-title{
	margin-left: 39%;
}
.brand-subtitle{
	margin-left: 23%;
}
.login-register-btns{
	margin-left: 40%;
}
.blurb-row > .col-md-4 > h3{
	margin-left: 30%;
}
.hidden-list{
	display: none;
}
.unhidden-list{
	display: block;
}
li > .btn-link{
	margin-top: 8px;
}
#login-form{
	margin: 6% 0 0 42%;
}
#login-form input{
	margin-bottom: 26px;
}
#login-form + button{
	margin: -106px 0 0 47%;
}
#login-form + button + a{
	color: #FFF;
	margin: 0 0 0 -11.5%;
}