html, body, .container{
	width: 100%;
	height: 100%;
}
body{
	background-color: #428BCA;
}
.navbar-static-top{
	background-color: #FFF;
}
.jumbotron{
	width: 102.7%;
	margin-top: -22px;
	margin-left: -1.5%;
}
.brand-title{
	margin-left: 39%;
}
.brand-subtitle{
	margin-left: 23%;
}
.login-register-btns{
	margin-left: 40%;
}
.blurb-row > .col-md-4 > h3{
	margin-left: 30%;
}
.hidden-list{
	display: none;
}
.unhidden-list{
	display: block;
}
li > .btn-link{
	margin-top: 8px;
}
#login-form{
	margin: 6% 0 0 42%;
}
#login-form input{
	margin-bottom: 26px;
}
#login-form + button{
	margin: -106px 0 0 47%;
}
#login-form + button + a{
	color: #FFF;
	margin: 0 0 0 -11.5%;
}
#map-canvas{
	height: 100%;
	width: 100%;
}
.unhidden{
	position: absolute;
	list-style: none;
	list-style-type: none;
	display: block !important;
	background-color: #FFF;
	width: 200px;
	overflow-x: hidden;
}
.unhidden *{
	width: auto;
	height: auto;
	margin-left: -40px;
	color: #428BCA;
}
.unhidden > li{
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	margin-top: 10px;
	min-height: 36px;
}
.unhidden > li:hover, .unhidden > li:hover li{
	background-color: #424477;
	color: #FFF;
	cursor: pointer;
}
.unhidden > li > *{
	margin-left: 5px;
	font-size: 11px;
}
#activities, #messages, #locations{
	outline: none !important;
}
#logout{
	position: absolute;
	right: 0;
	top: 8px;
}
.container{
	height: 100%;
}
#newActOverlay{
	width: 300px;
	padding-left:4px;
	position: absolute;
	top: 0%;
	right: 0%;
	background-color: #eeeeee;
}
#newActOverlay.collapse{
	overflow: hidden;
	display: block !important;
	height:90px;
}
#newActOverlay.collapse *{
	margin-top: -50px;
}
#newActOverlay.collapse #overlayShowHide{
	margin-top: 50px;
}
#newActOverlay > h2{
	margin-top: 60px;
	margin-left: 67px;
}
#newActForm{
	margin-top: 5px;
}
#newActForm input[type^=date]{
	width: 140px;
}
#newActForm input[type^=time]{
	width: 140px;
}
#newActInv, #newActSub{
	width: 90%;
	margin-left: 5%;
}
#newActForm > *{
	margin-bottom: 10px;
}
#newActForm p{
	font-size: 10px;
}
#overlayShowHide{
	background-color: #eee;
	border-color: #eee !important;
	width: 100%;
}