<!DOCTYPE html>
<html>
	<head>
		<title>Let's Hang - About</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="js/routes.js"></script>
	</head>
	<body>
		<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  			<div class="container">
    			<div class="navbar-header">
      				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
      				</button>
      				<a href="/" class="navbar-brand">Let's Hang</a>
    			</div>
    			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      				<ul class="nav navbar-nav">
        				<li class="active">
          					<a href="../about">About</a>
        				</li>
      				</ul>
    			</nav>
  			</div>
		</header>
      	<div class="container">
      		<div class="row">
      			<div class="col-md-12">
      				<div class="jumbotron">
      					<div class="brand-title">
							<h1>Let's Hang</h1>
      					</div>
      					<div class="brand-subtitle">
      						<h3>Let Yor Friends Know What You Wanna Do And Where</h3>
      					</div>
      				</div>
      			</div>
      		</div>
      		<div class="row blurb-row">
      			<div class="col-md-4">
      				<h3>Locations</h3>
              <p>You want to go play a pick up game of baseball? You have a big date to plan? You want to get together with some old friends from college for drinks? You want to invite your family over your house for the holidays? One thing these all have in common is how hard it is to invite everyone and get confirmation of who's going at short or long term notice.  Now with Let's Hang, let everyone you want to invite know where to go, when to go and you will see who's coming and who can't make it.  Any last minute changes to the event? No worries, Let's Hang will notify the people you invite of these changes in real time.</p>
      			</div>
      			<div class="col-md-4">
      				<h3>Messaging</h3>
              <p>Things up in the air and want to talk it over with friends? Thanks to Let's Hang's built in messaging system, you have real time communication with all those invited to an event.</p>
      			</div>
      			<div class="col-md-4">
      				<h3>Privacy</h3>
              <p>Don't worry, not everyone will see your event.  Only those you invite to the event can see the event.  You're able to pick and choose your contacts from all major social media platforms, and you can add or delete those who see you're using Let's Hang.  When you delete a contact, they're deleted for good unless you choose to add them again.  Any private data is encrypted and the only emails you will recieve from us are event notifications, account management emails (i.e. forgot password), and news on major updates to Let's Hang.</p>
      			</div>
      		</div>
		</div>
	</body>
</html>