<!DOCTYPE html>
<html>
	<head>
		<title>Let's Hang - Home</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="js/routes.js"></script>
	</head>
	<body>
		<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  			<div class="container">
    			<div class="navbar-header">
      				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
      				</button>
      				<a href="/" class="navbar-brand">Let's Hang</a>
    			</div>
    			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      				<ul class="nav navbar-nav">
        				<li class="active">
          					<a href="../about">About</a>
        				</li>
      				</ul>
    			</nav>
  			</div>
		</header>
      	<div class="container">
      		<div class="row">
      			<div class="col-md-12">
      				<div class="jumbotron">
      					<div class="brand-title">
							<h1>Let's Hang</h1>
      					</div>
      					<div class="brand-subtitle">
      						<h3>Let Yor Friends Know What You Wanna Do And Where</h3>
      					</div>
      					<div class="login-register-btns">
      						<a class="btn btn-primary" id="login-home" href="/login">Login</a>
      						<a class="btn btn-default" id="register-home" href="/register">Register</a>
      					</div>
      				</div>
      			</div>
      		</div>
      		<div class="row blurb-row">
      			<div class="col-md-4">
      				<h3>Blurb1</h3>
      			</div>
      			<div class="col-md-4">
      				<h3>Blurb2</h3>
      			</div>
      			<div class="col-md-4">
      				<h3>Blurb3</h3>
      			</div>
      		</div>
		</div>
	</body>
</html>