<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
		<title>Let's Hang - Home</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="css/lib/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/lib/jquery-2.1.1.min.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="js/routes.js"></script>
	</head>
	<body>
		<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  			<div class="container">
    			<div class="navbar-header">
      				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        				<span class="sr-only">Toggle navigation</span>
        				<span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
      				</button>
      				<a href="/" class="navbar-brand">Let's Hang</a>
    			</div>
    			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      				<ul class="nav navbar-nav">
        				<li>
          					<a href="/about">About</a>
        				</li>
      				</ul>
    			</nav>
  			</div>
		</header>
      	<div class="container">
      		<div class="row">
      			<div class="col-md-12">
      				<div class="jumbotron">
      					<div class="brand-title">
							<h1>Let's Hang</h1>
      					</div>
      					<div class="brand-subtitle">
      						<h3>Let Your Friends Know What You Wanna Do And Where</h3>
      					</div>
      					<div class="login-register-btns">
      						<a class="btn btn-success" id="login-home" href="/login">Login</a>
      						<a class="btn btn-default" id="register-home" href="/register">Register</a>
      					</div>
      				</div>
      			</div>
      		</div>
      		<div class="row blurb-row">
            <div class="col-md-4">
              <h3>The App</h3>
              <p>Let's Hang allows people to invite their friends to anything they want to do in the world.  From parties, to meetings, to a night out Let's Hang is the perfect event planner for the job.  You can talk with your friends about the event before and up to a week after.  Let's Hang is the ultimate app for event planning and organization.</p>
            </div>
      			<div class="col-md-4">
              <h3>Locations</h3>
              <p>You want to go play a pick up game of baseball? You have a big date to plan? You want to get together with some old friends from college for drinks? You want to invite your family over your house for the holidays? One thing these all have in common is how hard it is to invite everyone and get confirmation of who's going at short or long term notice.  Now with Let's Hang, let everyone you want to invite know where to go, when to go and you will see who's coming and who can't make it.  Any last minute changes to the event? No worries, Let's Hang will notify the people you invite of these changes in real time.</p>
            </div>
             <div class="col-md-4">
              <h3>Coming Soon</h3>
              <ul>
                <li><b>Event Calendar</b><p>keep all your events organized in a nice calendar</p></li>
                <li><b>iOS and Android versions of the app</b><p>All the functionality of the web app packed into a mobile app!</p></li>
                <li><b>Let's Hang with Pics</b><p>For a week after an event, people can share pictures related to that event</p></li>
              </ul>
            </div>
      		</div>
        </div>
		</div>
	</body>
</html>