<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Let's Hang - Main</title>
		<link rel="stylesheet" href="css/lib/bootstrap.min.css">
    	<link rel="stylesheet" href="css/lib/font-awesome.min.css">
		<link rel="stylesheet" href="http://localhost:3000/css/style.css">
		<script src="js/lib/jquery-2.1.1.min.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="http://localhost:3000/socket.io/lib/socket.io.js"></script>
		<script src="js/messenger.js"></script>
	</head>
	<body>
		<div class="message-box">
			{{#each messages}}
				{{#if sender}}
					<p class="sender">{{content}}</p>
				{{else}}
					<p class="reciever">{{content}}</p>
				{{/if}}
			{{/each}}
		</div>
		<div "send-box">
			<form id="message-send" class="input-group">
				<textarea id="message-content"></textarea>
				<input type="submit" id="send" class="btn btn-success" value="Send"></br>
			</form>
		</div>
	<body>
</html>