<div class="modal fade" id="invModal" tabindex="-1" role="dialog" aria-labelledby="invModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>